<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- templates/mxh/includes/sidebar.html -->
<div class="sidebar">
    <nav>
        <a href="{% url 'user_home' %}"  class="{% if request.resolver_match.url_name == 'user_home' %}active{% endif %}">
            <i class="fas fa-home"></i> Trang chủ</a>
        <a href="{% url 'notification_view' %}" class="notification-icon {% if request.resolver_match.url_name == 'notification_view' %}active{% endif %}">
            <i class="fas fa-bell"></i>
            {% if personal_unread_count > 0 or company_unread_count > 0 %}
                <span class="notification-dot"></span>
            {% endif %}
            Thông báo
        </a>
        <a href="{% url 'chat' %}" class="{% if request.resolver_match.url_name == 'chat' %}active{% endif %}">
            <i class="fas fa-comment-dots"></i> Tin nhắn
        </a>
        <a href="{% url 'task_view' %} " class="{% if request.resolver_match.url_name == 'task_view' %}active{% endif %}"><i class="fas fa-briefcase"></i> Công việc</a>
        <a href="{% url 'user_profile' username=user.username %}" class="{% if request.resolver_match.url_name == 'user_profile' %}active{% endif %}"><i class="fas fa-user-circle"></i> Hồ sơ cá nhân</a>
    </nav>
</div>

</body>
</html>