<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="{% static 'mxh/styles/Home.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{% static 'mxh/styles/Todolist.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'mxh/includes/header.html' %}
    <div class="main">
        {% include 'mxh/includes/sidebar.html' %}
        <div class="content">
            <h2>Todo List</h2>

            <!-- Form tạo công việc mới -->
            <form method="POST" class="input-group">
                {% csrf_token %}
                <input type="text" name="task_name" placeholder="Nhập công việc cần làm"   required>
                <button type="submit">+</button>
            </form>

            <!-- Danh sách công việc -->
            <ul class="task-list">
                {% for task in tasks %}
                    <li>
                        <div class="task-left">
                            <form method="POST" action="{% url 'toggle_status' task.id %}">
                                {% csrf_token %}
                                <input type="checkbox" onchange="this.form.submit()" {% if task.status == 'completed' %}checked{% endif %}>
                            </form>
                            <span class="{% if task.status == 'completed' %}completed{% endif %}">
                                {{ task.task_name }}
                            </span>
                        </div>
                        <form method="POST" action="{% url 'delete_task' task.id %}">
                            {% csrf_token %}
                            <button class="btn-delete">🗑</button>
                        </form>
                    </li>
                {% empty %}
                    <li class="text-center">Chưa có công việc nào!</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
